.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 3rem;
}

.img  img{
    margin: 3rem;
    height: 100px;
    width: 100px;
}

.main_content {
    height: 250px;
    padding: 1rem;
}

.table {
    border: 2px solid rgb(172, 168, 168);
}

.table th,td{
    width: 500px;
    text-align: center;
    
}

.footer {
    padding: 1rem;
    font-weight: 600;
}

p {
    font-weight: 600;
}
